syntax: glob

*#
.#*
*~
*.pyc
*.pyo
*.swn
*.swo
*.swp
*.db
*.md5
*gen-*
*.iml
*.ipr
*.iws
*.class
*ro_archive.tar.gz.metadata
*ro_archive.tar.gz
.DS_Store
.classpath
.project
.ropeproject
.svn/
.idea
build/
gensrc/
gen-javabean/
rye/output
jetstream/target
.pydevproject
crumb/js/crumb.js
crumb/js/crumb.js.gz
crumb/js/flash_crumb.js
crumb/css/*/offers.css.gz
*reporting-combined.tar
*pythia-combined.tar
.metadata
rye/bin/
selenium/bin/
third_party/bin/
.settings
py/tellapart/util/thrift_serde.c
tools/tellapartdashboardz/app.yaml
tools/tellapartdashboardz/cron.yaml
tools/tellapartdashboardz/tellapart_gen/
tools/tellapartdashboardz/thrift
py/tellapart/conductor/command/dev_command.py
py/tellapart/conductor/settings/dev_settings.py
thrift/event_log.thrift
thrift/compact_event_log.thrift
node_modules/
.testresult
prod_archive.tar.gz*
rye_archive.tar.gz*
tasks.py
.gradlecache
**/target
target/
.contents.cksum
**/beacon.log
**/beacon_debug.log
bidder/var/*
identity/identity-service/var/*
atlassian-ide-plugin.xml
**/ghostdriver.log
out/
py/tellapart/settings/frontend_settings.py
py/tellapart/metastore/junk_scripts
.coverage
*.md.html
